Source: stepgrampa
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: utils

Package: stepgrampa
Version: 1.0
License: GPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: all
Depends: file-roller, caja, engrampa
Enhances: engrampa
Description: Replaces MATE's engrampa with GNOME's file-roller
  Replaces MATE's engrampa with GNOME's file-roller for use in caja
